body {
background: #FFF1D6;
font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
line-height: 1.6;
}
.container {
margin: 0 auto;
width: 960px;
}
.content {
background-color: #FFF;
border-color: #CCC #999 #999 #CCC;
border: 1px solid #CCC;
margin-bottom: 20px;
padding: 10px;
}
.content h2 {
border-bottom: 1px dashed #7E9F19;
margin: 0;
}
.content img {
border: 1px solid #7E9F19;
float: left;
margin: 10px 10px 0 0;
padding: 2px;
max-width:150px;
max-height:100px;
width: auto;
height: auto;
}